.App {
  text-align: center;
  font-family: Arial, sans-serif;
  margin: 20px;
}

h1 {
  font-size: 36px;
  color: #333;
}

input[type="text"] {
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-family: 'Courier New', Courier, monospace;
}

textarea {
  resize: none;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-family: 'Courier New', Courier, monospace;
}

button {
  padding: 8px 16px;
  font-size: 16px;
  background-color: #ff992b;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 10px;
}


button:focus {
  outline: none;
}

div {
  margin: 20px 0;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li {
  background-color: #f9f9f9;
  padding: 10px;
  margin: 10px;
  border: 3px solid #ddd;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
}

.list-inner-div {
  background-color: #f9f9f9;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

li h3 {
  font-size: 20px;
  color: #333;
}

p {
  font-size: 16px;
  color: #555;
}

.filter-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.filter-buttons button {
  padding: 8px 16px;
  font-size: 16px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.filter-buttons button.active {
  background-color: #ff992b;
}

.input-div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-title {
  width: 40%;
  margin: 5px;
}

.input-content {
  width: 40%;
  margin: 5px;
}

.input-deadline {
  width: 40%;
  margin: 5px;
}